*{
    box-sizing: border-box;
}

h1{
    font-size: 50px;
    color: white;
    text-align: center;
    border-bottom: 5px solid grey;
    background-color: black;
}

.flex-container{
    display: flex;
}

.flex-container div {
    display: flex; /* Make individual divs flex containers */
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
    font-size: 20px;
    color: white;
    background-color: rgb(203, 72, 72);
    text-align: center;
    margin: 90px;
    padding: 10px;
    height: 100px;
    flex: 1;

    
}